*
  margin: 0
  padding: 0
  box-sizing: border-box
  font-family: Lato

html
  font-size: 10px
  font-size: 10px

  body
    font-family: Lato
    font-style: normal
    font-weight: 900

button
  padding: 0
  border: none
  font: inherit
  color: inherit
  background-color: transparent
  outline: none

input
  outline: none

li
  list-style-type: none

ul
  padding-left: 0

a
  text-decoration: none

summary
  outline: none
  cursor: pointer
  list-style: none

.center
  padding-left: calc(50% - 570px)
  padding-right: calc(50% - 570px)

.header
  display: flex
  justify-content: space-between
  background-color: #dccccd

  &__link
    color: #222222

  &__catalog
    font-size: 2rem

  &__catalog, &__card
    margin: 3rem

.products
  font-size: 1.6rem
  display: flex
  margin-top: 3rem
  //max-width: 1140px


  &__img
    width: 200px
    height: 100px
    margin-bottom: 20px
  &__card
    margin-bottom: 3rem
    padding: 2.5rem
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.13)
    flex: 1 1 26rem
    &:not(:last-child)
      margin-right: 3rem

  &__title
    font-size: 2rem
    color: #222222
    margin-bottom: 1.5rem

  &__price
    color: #575757
    margin-bottom: 1rem
    &-col
      color: #EF5B70
      font-size: 1.8rem

  &__btn
    padding: .5rem 3rem
    font-weight: 400
    color: #575757
    border: 1px solid #575757
    transition: .2s
    &:hover
      background-color: #EF5B70
      color: #fff
      border: 1px solid #EF5B70