<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Интернет-магазин</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div id="app">
        <header>
            <div class="logo">Интернет Магазин</div>
            <div class="cart">
                <search></search>
<!--                <form action="#" class="search-form" @submit.prevent="filter">-->
<!--                    <input type="text" class="search-field" v-model="userSearch">-->
<!--                    <button class="btn-search" type="submit">-->
<!--                        <i class="fas fa-search"></i>-->
<!--                    </button>-->
<!--                </form>-->

                <button class="btn-cart" type="button" @click="showCart = !showCart">Корзина</button>
                <cart :cart-items="cartItems"
                      :img="imgCart"
                      :visibility="showCart"
                      @remove="removeProduct">
                </cart>

            </div>
        </header>
        <main>
            <error-data v-if="dataError"></error-data>
            <products :products="filtered" :img="imgProduct" @add-product="addProduct"></products>
        </main>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>
    <script src="js/productComp.js"></script>
    <script src="js/errorComp.js"></script>
    <script src="js/cartComp.js"></script>
    <script src="js/filterComp.js"></script>
    <script src="js/main.js"></script>
</body>
</html>
